// Catppuccin Macchiato Theme Color Palette

// Blue
$blue-light: #2b436c;
$blue-dark: #82a2d9;

// Flamingo
$flamingo-light: #dd7878;
$flamingo-dark: #f0c6c6;

// Green
$green-light: #398033;
$green-dark: #92bf8e;

// Lavender
$lavender-light: #7287fd;
$lavender-dark: #b7bdf8;

// Maroon
$maroon-light: #e64553;
$maroon-dark: #ee99a0;

// Mauve
$mauve-light: #4d366c;
$mauve-dark: #b394de;

// Peach
$peach-light: #8c5838;
$peach-dark: #d28e64;

// Pink
$pink-light: #794362;
$pink-dark: #d68fb8;

// Red
$red-light: #733434;
$red-dark: #e07f7f;

// Rosewater
$rosewater-light: #dc8a78;
$rosewater-dark: #f2b5b5;

// Sapphire
$sapphire-light: #209fb5;
$sapphire-dark: #7dc4e4;

// Sky
$sky-light: #04a5e5;
$sky-dark: #91d7e3;

// Teal
$teal-light: #13806a;
$teal-dark: #4cbaa4;

// Yellow
$yellow-light: #df8e1d;
$yellow-dark: #d9b445;

// Grey
$grey-050: #f2e9e0;
$grey-100: #dfd9d2;
$grey-150: #d9d1c9;
$grey-200: #bfb9b3;
$grey-250: #b3aca5;
$grey-300: #9e9994;
$grey-350: #938d88;
$grey-400: #867f79;
$grey-450: #79726d;
$grey-500: #6b6661;
$grey-550: #5e5955;
$grey-600: #414658;
$grey-650: #393e4d;
$grey-700: #313542;
$grey-750: #2b2f3b;
$grey-800: #242730;
$grey-850: #1b1e24;
$grey-900: #181b20;
$grey-950: #111317;

// White
$white: #f2e9e0;

// Black
$black: #242730;

// Theme
$default-light: #006a83;
$default-dark: #27a1b9;

// Button
$button-close: if($topbar == 'light', #733434, #e07f7f);
$button-max: if($topbar == 'light', #24661e, #92bf8e);
$button-min: if($topbar == 'light', #a66842, #d28e64);
